/* Body styles */
        body {
            background-image: linear-gradient(180deg, white, white, rgb(83, 85, 240));
            
        }

/* Left column, font declaration, size, and background color of column */
        .datatype_col {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 12pt;
            background-color: rgb(211, 211, 211);
        }

/* Right column, font declaration, size, background color of column, and bolder text */
        .reading_col {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 12pt;
            background-color: rgb(141, 175, 219);
            font-weight: bolder;
        }
        
/* Separate CSS for header rows */
        .header_rows {
            background-color:black;
            color:white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 14pt;
        }

/* Separate CSS for title rows including padding on top and bottom */
        .title_row {
            background-color:white;
            color:red;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 18pt;
            font-weight: bolder;
            padding-top: 10px; padding-bottom: 10px;
        }